@charset "utf 8";
/* Micheal Jones sept.15, 2026 Lab 20 Haunted Mansion*/
/* resetting the browser settings */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
}
nav ul li{
    text-decoration: none;
}